/*Targets the caption text*/
table caption {
 font-size: 1.5em;
 padding: 10px 5px;
} 
/*Targets the headings and first column*/ 
th, td:nth-child(1) {
 font-size: 1.1em;
 font-weight: 500; }
/*Targets footer explanation and attribution*/
tfoot ,tr:nth-child(1n+2) {
 font-size: 0.9em;
 font-weight: normal;
 text-align: left; }
 td {
 text-align: center;
 padding: 5px;
 }
 /*Remove the borders from all table elements*/
table, th, td { border: none; }
/*Apply a background color to the table heading*/
thead { background-color: #a7a37e; }
/*Apply a background color to every other row in the table body*/
tbody tr:nth-child(even) { background-color: #efecca; }
/*Apply a background color to every other row in the table footer*/
tfoot tr:nth-child(odd) { background-color: #efecca; }
@media only screen and (max-width: 780px){
 /*CSS styles will be added here*/
 table, thead, tbody, tfoot, tr, th, td { display: block; }
 }

 tfoot, tr, td {
 padding-left: 0%;
 text-align: left;
 }
 td:before {
 position: static;
 top: 5px;
 left: 5px;
 white-space: nowrap;
 text-align: left; }